<h1>Editing attendence</h1>

<% form_for(@attendence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :timein %><br />
    <%= f.datetime_select :timein %>
  </p>
  <p>
    <%= f.label :timeout %><br />
    <%= f.datetime_select :timeout %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @attendence %> |
<%= link_to 'Back', attendences_path %>